In [45]:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Ruta del archivo con comillas
ruta_archivo = "archivo_limpio_sin_columnas.csv"

# Leer el archivo CSV en un DataFrame
df = pd.read_csv(ruta_archivo)

# Mostrar las primeras filas del DataFrame
df

,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_genero,cole_jornada,cole_mcpio_ubicacion,cole_naturaleza,cole_sede_principal,estu_estadoinvestigacion,...,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
0,URBANO,N,A,TÉCNICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,...,Si,Si,Si,A1,51.0,45.0,55.0,49.0,45.0,243.0
1,RURAL,N,A,ACADÉMICO,MIXTO,MAÑANA,EL PIÑON,OFICIAL,S,PUBLICAR,...,No,No,No,A1,54.0,62.0,53.0,59.0,53.0,283.0
2,URBANO,N,A,TÉCNICO,MIXTO,MAÑANA,CIENAGA,OFICIAL,S,PUBLICAR,...,No,No,No,A-,39.0,51.0,57.0,53.0,47.0,254.0
3,URBANO,N,A,ACADÉMICO,MASCULINO,COMPLETA,SANTA MARTA,NO OFICIAL,S,PUBLICAR,...,Si,Si,Si,B1,73.0,74.0,59.0,67.0,69.0,338.0
4,URBANO,N,A,TÉCNICO/ACADÉMICO,MIXTO,NOCHE,SANTA MARTA,OFICIAL,S,PUBLICAR,...,No,No,No,A-,35.0,24.0,37.0,41.0,45.0,183.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,URBANO,N,A,TÉCNICO/ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,...,No,Si,Si,A-,42.0,48.0,38.0,44.0,45.0,218.0
73793,URBANO,N,A,ACADÉMICO,MIXTO,MAÑANA,CIÉNAGA,NO OFICIAL,S,PUBLICAR,...,No,Si,No,A-,38.0,30.0,34.0,28.0,32.0,158.0
73794,URBANO,N,A,ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,...,No,Si,No,A-,41.0,58.0,50.0,39.0,50.0,243.0
73795,URBANO,N,A,TÉCNICO/ACADÉMICO,MIXTO,TARDE,SANTA MARTA,OFICIAL,N,PUBLICAR,...,No,No,No,A-,45.0,59.0,48.0,54.0,52.0,263.0
73796,URBANO,N,A,ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,...,No,Si,Si,A-,44.0,51.0,45.0,50.0,56.0,250.0

variable cole_area_ubicacion

In [46]:
df['cole_area_ubicacion'].unique()

array(['URBANO', 'RURAL'], dtype=object)

In [47]:
# Convertir la variable 'cole_area_ubicacion' en variables dummy
df= pd.get_dummies(df, columns=['cole_area_ubicacion'], drop_first=True)


# Convertir la columna de valores True/False a 0 y 1
df['cole_area_ubicacion_URBANO'] = df['cole_area_ubicacion_URBANO'].astype(int)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_calendario,cole_caracter,cole_genero,cole_jornada,cole_mcpio_ubicacion,cole_naturaleza,cole_sede_principal,estu_estadoinvestigacion,estu_estudiante,...,fami_tienecomputador,fami_tieneinternet,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,cole_area_ubicacion_URBANO
0,N,A,TÉCNICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,Si,A1,51.0,45.0,55.0,49.0,45.0,243.0,1
1,N,A,ACADÉMICO,MIXTO,MAÑANA,EL PIÑON,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,No,No,A1,54.0,62.0,53.0,59.0,53.0,283.0,0
2,N,A,TÉCNICO,MIXTO,MAÑANA,CIENAGA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,No,No,A-,39.0,51.0,57.0,53.0,47.0,254.0,1
3,N,A,ACADÉMICO,MASCULINO,COMPLETA,SANTA MARTA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,Si,B1,73.0,74.0,59.0,67.0,69.0,338.0,1
4,N,A,TÉCNICO/ACADÉMICO,MIXTO,NOCHE,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,No,No,A-,35.0,24.0,37.0,41.0,45.0,183.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,N,A,TÉCNICO/ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,Si,A-,42.0,48.0,38.0,44.0,45.0,218.0,1
73793,N,A,ACADÉMICO,MIXTO,MAÑANA,CIÉNAGA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,No,A-,38.0,30.0,34.0,28.0,32.0,158.0,1
73794,N,A,ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,No,A-,41.0,58.0,50.0,39.0,50.0,243.0,1
73795,N,A,TÉCNICO/ACADÉMICO,MIXTO,TARDE,SANTA MARTA,OFICIAL,N,PUBLICAR,ESTUDIANTE,...,No,No,A-,45.0,59.0,48.0,54.0,52.0,263.0,1
73796,N,A,ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,Si,A-,44.0,51.0,45.0,50.0,56.0,250.0,1

variable cole_bilingue

In [48]:
df['cole_bilingue'].unique()

array(['N', 'S'], dtype=object)

In [49]:
# Convertir la columna 'cole_bilingue' en una variable binaria
df['cole_bilingue'] = df['cole_bilingue'].apply(lambda x: 1 if x == 'S' else 0)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_calendario,cole_caracter,cole_genero,cole_jornada,cole_mcpio_ubicacion,cole_naturaleza,cole_sede_principal,estu_estadoinvestigacion,estu_estudiante,...,fami_tienecomputador,fami_tieneinternet,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,cole_area_ubicacion_URBANO
0,0,A,TÉCNICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,Si,A1,51.0,45.0,55.0,49.0,45.0,243.0,1
1,0,A,ACADÉMICO,MIXTO,MAÑANA,EL PIÑON,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,No,No,A1,54.0,62.0,53.0,59.0,53.0,283.0,0
2,0,A,TÉCNICO,MIXTO,MAÑANA,CIENAGA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,No,No,A-,39.0,51.0,57.0,53.0,47.0,254.0,1
3,0,A,ACADÉMICO,MASCULINO,COMPLETA,SANTA MARTA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,Si,B1,73.0,74.0,59.0,67.0,69.0,338.0,1
4,0,A,TÉCNICO/ACADÉMICO,MIXTO,NOCHE,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,No,No,A-,35.0,24.0,37.0,41.0,45.0,183.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,A,TÉCNICO/ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,Si,A-,42.0,48.0,38.0,44.0,45.0,218.0,1
73793,0,A,ACADÉMICO,MIXTO,MAÑANA,CIÉNAGA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,No,A-,38.0,30.0,34.0,28.0,32.0,158.0,1
73794,0,A,ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,No,A-,41.0,58.0,50.0,39.0,50.0,243.0,1
73795,0,A,TÉCNICO/ACADÉMICO,MIXTO,TARDE,SANTA MARTA,OFICIAL,N,PUBLICAR,ESTUDIANTE,...,No,No,A-,45.0,59.0,48.0,54.0,52.0,263.0,1
73796,0,A,ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,...,Si,Si,A-,44.0,51.0,45.0,50.0,56.0,250.0,1

variable cole_calendario

In [50]:
df['cole_calendario'].unique()

array(['A', 'B'], dtype=object)

In [51]:
# Convertir la columna 'cole_calendario' en una variable dummy
df['cole_calendario_A'] = df['cole_calendario'].apply(lambda x: 1 if x == 'A' else 0)

# Eliminar la columna original si ya no la necesitas
df = df.drop(columns=['cole_calendario'])

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_caracter,cole_genero,cole_jornada,cole_mcpio_ubicacion,cole_naturaleza,cole_sede_principal,estu_estadoinvestigacion,estu_estudiante,estu_genero,...,fami_tieneinternet,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,cole_area_ubicacion_URBANO,cole_calendario_A
0,0,TÉCNICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,...,Si,A1,51.0,45.0,55.0,49.0,45.0,243.0,1,1
1,0,ACADÉMICO,MIXTO,MAÑANA,EL PIÑON,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,...,No,A1,54.0,62.0,53.0,59.0,53.0,283.0,0,1
2,0,TÉCNICO,MIXTO,MAÑANA,CIENAGA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,...,No,A-,39.0,51.0,57.0,53.0,47.0,254.0,1,1
3,0,ACADÉMICO,MASCULINO,COMPLETA,SANTA MARTA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,...,Si,B1,73.0,74.0,59.0,67.0,69.0,338.0,1,1
4,0,TÉCNICO/ACADÉMICO,MIXTO,NOCHE,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,...,No,A-,35.0,24.0,37.0,41.0,45.0,183.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,TÉCNICO/ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,...,Si,A-,42.0,48.0,38.0,44.0,45.0,218.0,1,1
73793,0,ACADÉMICO,MIXTO,MAÑANA,CIÉNAGA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,...,No,A-,38.0,30.0,34.0,28.0,32.0,158.0,1,1
73794,0,ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,...,No,A-,41.0,58.0,50.0,39.0,50.0,243.0,1,1
73795,0,TÉCNICO/ACADÉMICO,MIXTO,TARDE,SANTA MARTA,OFICIAL,N,PUBLICAR,ESTUDIANTE,M,...,No,A-,45.0,59.0,48.0,54.0,52.0,263.0,1,1
73796,0,ACADÉMICO,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,...,Si,A-,44.0,51.0,45.0,50.0,56.0,250.0,1,1

variable cole_caracter

In [52]:
df['cole_caracter'].unique()

array(['TÉCNICO', 'ACADÉMICO', 'TÉCNICO/ACADÉMICO', 'NO APLICA'],
      dtype=object)

In [53]:
# Convertir la variable 'cole_caracter' en variables dummy
df = pd.get_dummies(df, columns=['cole_caracter'], drop_first=True)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_genero,cole_jornada,cole_mcpio_ubicacion,cole_naturaleza,cole_sede_principal,estu_estadoinvestigacion,estu_estudiante,estu_genero,estu_mcpio_reside,...,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,cole_area_ubicacion_URBANO,cole_calendario_A,cole_caracter_NO APLICA,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO
0,0,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,...,45.0,55.0,49.0,45.0,243.0,1,1,False,True,False
1,0,MIXTO,MAÑANA,EL PIÑON,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,EL PIÑÓN,...,62.0,53.0,59.0,53.0,283.0,0,1,False,False,False
2,0,MIXTO,MAÑANA,CIENAGA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,...,51.0,57.0,53.0,47.0,254.0,1,1,False,True,False
3,0,MASCULINO,COMPLETA,SANTA MARTA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,...,74.0,59.0,67.0,69.0,338.0,1,1,False,False,False
4,0,MIXTO,NOCHE,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,...,24.0,37.0,41.0,45.0,183.0,1,1,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,...,48.0,38.0,44.0,45.0,218.0,1,1,False,False,True
73793,0,MIXTO,MAÑANA,CIÉNAGA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,...,30.0,34.0,28.0,32.0,158.0,1,1,False,False,False
73794,0,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,...,58.0,50.0,39.0,50.0,243.0,1,1,False,False,False
73795,0,MIXTO,TARDE,SANTA MARTA,OFICIAL,N,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,...,59.0,48.0,54.0,52.0,263.0,1,1,False,False,True
73796,0,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,...,51.0,45.0,50.0,56.0,250.0,1,1,False,False,False

In [54]:
# Convertir todas las columnas con valores True/False a 0 y 1
columnas_a_convertir = ['cole_caracter_NO APLICA', 'cole_caracter_TÉCNICO', 'cole_caracter_TÉCNICO/ACADÉMICO']
df[columnas_a_convertir] = df[columnas_a_convertir].astype(int)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_genero,cole_jornada,cole_mcpio_ubicacion,cole_naturaleza,cole_sede_principal,estu_estadoinvestigacion,estu_estudiante,estu_genero,estu_mcpio_reside,...,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,cole_area_ubicacion_URBANO,cole_calendario_A,cole_caracter_NO APLICA,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO
0,0,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,...,45.0,55.0,49.0,45.0,243.0,1,1,0,1,0
1,0,MIXTO,MAÑANA,EL PIÑON,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,EL PIÑÓN,...,62.0,53.0,59.0,53.0,283.0,0,1,0,0,0
2,0,MIXTO,MAÑANA,CIENAGA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,...,51.0,57.0,53.0,47.0,254.0,1,1,0,1,0
3,0,MASCULINO,COMPLETA,SANTA MARTA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,...,74.0,59.0,67.0,69.0,338.0,1,1,0,0,0
4,0,MIXTO,NOCHE,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,...,24.0,37.0,41.0,45.0,183.0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,...,48.0,38.0,44.0,45.0,218.0,1,1,0,0,1
73793,0,MIXTO,MAÑANA,CIÉNAGA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,...,30.0,34.0,28.0,32.0,158.0,1,1,0,0,0
73794,0,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,...,58.0,50.0,39.0,50.0,243.0,1,1,0,0,0
73795,0,MIXTO,TARDE,SANTA MARTA,OFICIAL,N,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,...,59.0,48.0,54.0,52.0,263.0,1,1,0,0,1
73796,0,MIXTO,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,...,51.0,45.0,50.0,56.0,250.0,1,1,0,0,0

variable cole_genero

In [55]:
df['cole_genero'].unique()

array(['MIXTO', 'MASCULINO', 'FEMENINO'], dtype=object)

In [56]:
# Convertir la variable 'cole_genero' en variables dummy
df = pd.get_dummies(df, columns=['cole_genero'], drop_first=True)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_jornada,cole_mcpio_ubicacion,cole_naturaleza,cole_sede_principal,estu_estadoinvestigacion,estu_estudiante,estu_genero,estu_mcpio_reside,estu_nacionalidad,...,punt_c_naturales,punt_lectura_critica,punt_global,cole_area_ubicacion_URBANO,cole_calendario_A,cole_caracter_NO APLICA,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO
0,0,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,...,49.0,45.0,243.0,1,1,0,1,0,False,True
1,0,MAÑANA,EL PIÑON,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,EL PIÑÓN,COLOMBIA,...,59.0,53.0,283.0,0,1,0,0,0,False,True
2,0,MAÑANA,CIENAGA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,...,53.0,47.0,254.0,1,1,0,1,0,False,True
3,0,COMPLETA,SANTA MARTA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,...,67.0,69.0,338.0,1,1,0,0,0,True,False
4,0,NOCHE,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,...,41.0,45.0,183.0,1,1,0,0,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,...,44.0,45.0,218.0,1,1,0,0,1,False,True
73793,0,MAÑANA,CIÉNAGA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,...,28.0,32.0,158.0,1,1,0,0,0,False,True
73794,0,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,...,39.0,50.0,243.0,1,1,0,0,0,False,True
73795,0,TARDE,SANTA MARTA,OFICIAL,N,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,...,54.0,52.0,263.0,1,1,0,0,1,False,True
73796,0,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,...,50.0,56.0,250.0,1,1,0,0,0,False,True

In [57]:
# Convertir columnas con valores True/False a 0 y 1
columnas_a_convertir = ['cole_genero_MASCULINO', 'cole_genero_MIXTO']
df[columnas_a_convertir] = df[columnas_a_convertir].astype(int)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_jornada,cole_mcpio_ubicacion,cole_naturaleza,cole_sede_principal,estu_estadoinvestigacion,estu_estudiante,estu_genero,estu_mcpio_reside,estu_nacionalidad,...,punt_c_naturales,punt_lectura_critica,punt_global,cole_area_ubicacion_URBANO,cole_calendario_A,cole_caracter_NO APLICA,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO
0,0,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,...,49.0,45.0,243.0,1,1,0,1,0,0,1
1,0,MAÑANA,EL PIÑON,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,EL PIÑÓN,COLOMBIA,...,59.0,53.0,283.0,0,1,0,0,0,0,1
2,0,MAÑANA,CIENAGA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,...,53.0,47.0,254.0,1,1,0,1,0,0,1
3,0,COMPLETA,SANTA MARTA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,...,67.0,69.0,338.0,1,1,0,0,0,1,0
4,0,NOCHE,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,...,41.0,45.0,183.0,1,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,...,44.0,45.0,218.0,1,1,0,0,1,0,1
73793,0,MAÑANA,CIÉNAGA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,...,28.0,32.0,158.0,1,1,0,0,0,0,1
73794,0,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,...,39.0,50.0,243.0,1,1,0,0,0,0,1
73795,0,TARDE,SANTA MARTA,OFICIAL,N,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,...,54.0,52.0,263.0,1,1,0,0,1,0,1
73796,0,MAÑANA,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,...,50.0,56.0,250.0,1,1,0,0,0,0,1

variable cole_jornada

In [58]:
df['cole_jornada'].unique()

array(['MAÑANA', 'COMPLETA', 'NOCHE', 'TARDE', 'UNICA', 'SABATINA'],
      dtype=object)

In [59]:
# Convertir la columna 'cole_jornada' en variables dummy
df = pd.get_dummies(df, columns=['cole_jornada'], drop_first=True)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_mcpio_ubicacion,cole_naturaleza,cole_sede_principal,estu_estadoinvestigacion,estu_estudiante,estu_genero,estu_mcpio_reside,estu_nacionalidad,estu_pais_reside,...,cole_caracter_NO APLICA,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MAÑANA,cole_jornada_NOCHE,cole_jornada_SABATINA,cole_jornada_TARDE,cole_jornada_UNICA
0,0,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,1,0,0,1,True,False,False,False,False
1,0,EL PIÑON,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,EL PIÑÓN,COLOMBIA,COLOMBIA,...,0,0,0,0,1,True,False,False,False,False
2,0,CIENAGA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,COLOMBIA,...,0,1,0,0,1,True,False,False,False,False
3,0,SANTA MARTA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,1,0,False,False,False,False,False
4,0,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,True,False,False,False,False
73793,0,CIÉNAGA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,True,False,False,False,False
73794,0,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,True,False,False,False,False
73795,0,SANTA MARTA,OFICIAL,N,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,False,False,False,True,False
73796,0,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,True,False,False,False,False

In [60]:
# Seleccionar las columnas que deseas convertir a binarias
columnas_a_convertir = [
    'cole_jornada_MAÑANA',
    'cole_jornada_NOCHE',
    'cole_jornada_SABATINA',
    'cole_jornada_TARDE',
    'cole_jornada_UNICA'
]

# Convertir las columnas de True/False a 0/1
df[columnas_a_convertir] = df[columnas_a_convertir].astype(int)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_mcpio_ubicacion,cole_naturaleza,cole_sede_principal,estu_estadoinvestigacion,estu_estudiante,estu_genero,estu_mcpio_reside,estu_nacionalidad,estu_pais_reside,...,cole_caracter_NO APLICA,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MAÑANA,cole_jornada_NOCHE,cole_jornada_SABATINA,cole_jornada_TARDE,cole_jornada_UNICA
0,0,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,1,0,0,1,1,0,0,0,0
1,0,EL PIÑON,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,EL PIÑÓN,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0
2,0,CIENAGA,OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,COLOMBIA,...,0,1,0,0,1,1,0,0,0,0
3,0,SANTA MARTA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,1,0,0,0,0,0,0
4,0,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,1,0,0,0,0
73793,0,CIÉNAGA,NO OFICIAL,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0
73794,0,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0
73795,0,SANTA MARTA,OFICIAL,N,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,0,0,0,1,0
73796,0,SANTA MARTA,OFICIAL,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0

variable cole_mcipio_ubicacion

In [61]:
df['cole_mcpio_ubicacion'].unique()

array(['SANTA MARTA', 'EL PIÑON', 'CIENAGA', 'EL BANCO', 'TENERIFE',
       'CONCORDIA', 'SANTA ANA', 'PIVIJAY', 'PEDRAZA', 'FUNDACION',
       'ZONA BANANERA', 'SITIONUEVO', 'GUAMAL', 'PLATO', 'ALGARROBO',
       'FUNDACIÓN', 'PUEBLOVIEJO', 'CIÉNAGA', 'ARACATACA', 'EL RETÉN',
       'SAN SEBASTIÁN DE BUENAVISTA', 'EL RETEN', 'EL PIÑÓN',
       'ARIGUANI (EL DIFICIL)', 'CHIVOLO', 'SALAMINA',
       'PIJIÑO DEL CARMEN', 'ZAPAYAN', 'NUEVA GRANADA',
       'SANTA BARBARA DE PINTO', 'REMOLINO', 'CERRO SAN ANTONIO',
       'SABANAS DE SAN ÁNGEL', 'SABANAS DE SAN ANGEL', 'ARIGUANÍ',
       'SAN ZENON', 'SANTA BÁRBARA DE PINTO',
       'SAN SEBASTIAN DE BUENAVISTA', 'CERRO DE SAN ANTONIO', 'ZAPAYÁN',
       'SAN ZENÓN'], dtype=object)

variable cole_naturaleza

In [62]:
df['cole_naturaleza'].unique()

array(['OFICIAL', 'NO OFICIAL'], dtype=object)

In [63]:
# Renombrar la columna
df.rename(columns={'cole_naturaleza': 'cole_naturaleza_oficial'}, inplace=True)

# Convertir a variable binaria
df['cole_naturaleza_oficial'] = df['cole_naturaleza_oficial'].apply(lambda x: 1 if x == 'OFICIAL' else 0)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_mcpio_ubicacion,cole_naturaleza_oficial,cole_sede_principal,estu_estadoinvestigacion,estu_estudiante,estu_genero,estu_mcpio_reside,estu_nacionalidad,estu_pais_reside,...,cole_caracter_NO APLICA,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MAÑANA,cole_jornada_NOCHE,cole_jornada_SABATINA,cole_jornada_TARDE,cole_jornada_UNICA
0,0,SANTA MARTA,1,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,1,0,0,1,1,0,0,0,0
1,0,EL PIÑON,1,S,PUBLICAR,ESTUDIANTE,M,EL PIÑÓN,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0
2,0,CIENAGA,1,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,COLOMBIA,...,0,1,0,0,1,1,0,0,0,0
3,0,SANTA MARTA,0,S,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,1,0,0,0,0,0,0
4,0,SANTA MARTA,1,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,SANTA MARTA,1,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,1,0,0,0,0
73793,0,CIÉNAGA,0,S,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0
73794,0,SANTA MARTA,1,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0
73795,0,SANTA MARTA,1,N,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,0,0,0,1,0
73796,0,SANTA MARTA,1,S,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0

variable cole_sede_principal

In [64]:
df['cole_sede_principal'].unique()

array(['S', 'N'], dtype=object)

In [65]:
# Convertir a variable binaria
df['cole_sede_principal'] = df['cole_sede_principal'].apply(lambda x: 1 if x == 'S' else 0)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_mcpio_ubicacion,cole_naturaleza_oficial,cole_sede_principal,estu_estadoinvestigacion,estu_estudiante,estu_genero,estu_mcpio_reside,estu_nacionalidad,estu_pais_reside,...,cole_caracter_NO APLICA,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MAÑANA,cole_jornada_NOCHE,cole_jornada_SABATINA,cole_jornada_TARDE,cole_jornada_UNICA
0,0,SANTA MARTA,1,1,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,1,0,0,1,1,0,0,0,0
1,0,EL PIÑON,1,1,PUBLICAR,ESTUDIANTE,M,EL PIÑÓN,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0
2,0,CIENAGA,1,1,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,COLOMBIA,...,0,1,0,0,1,1,0,0,0,0
3,0,SANTA MARTA,0,1,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,1,0,0,0,0,0,0
4,0,SANTA MARTA,1,1,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,SANTA MARTA,1,1,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,1,0,0,0,0
73793,0,CIÉNAGA,0,1,PUBLICAR,ESTUDIANTE,M,CIÉNAGA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0
73794,0,SANTA MARTA,1,1,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0
73795,0,SANTA MARTA,1,0,PUBLICAR,ESTUDIANTE,M,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,1,0,1,0,0,0,1,0
73796,0,SANTA MARTA,1,1,PUBLICAR,ESTUDIANTE,F,SANTA MARTA,COLOMBIA,COLOMBIA,...,0,0,0,0,1,1,0,0,0,0

variable estu_estadoinvestigacion

In [66]:
df['estu_estadoinvestigacion'].unique()

array(['PUBLICAR', 'VALIDEZ OFICINA JURÍDICA',
       'NO SE COMPROBO IDENTIDAD DEL EXAMINADO',
       'PRESENTE CON LECTURA TARDIA'], dtype=object)

variable estu_estudiante

In [67]:
df["estu_estudiante"].value_counts()

estu_estudiante
ESTUDIANTE    73797
Name: count, dtype: int64

al ver que la variable anterior no explica nada se procede a borrar

In [68]:
# Eliminar la columna 'estu_estudiente'
df = df.drop(columns=['estu_estudiante'])

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_mcpio_ubicacion,cole_naturaleza_oficial,cole_sede_principal,estu_estadoinvestigacion,estu_genero,estu_mcpio_reside,estu_nacionalidad,estu_pais_reside,estu_privado_libertad,...,cole_caracter_NO APLICA,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MAÑANA,cole_jornada_NOCHE,cole_jornada_SABATINA,cole_jornada_TARDE,cole_jornada_UNICA
0,0,SANTA MARTA,1,1,PUBLICAR,M,SANTA MARTA,COLOMBIA,COLOMBIA,N,...,0,1,0,0,1,1,0,0,0,0
1,0,EL PIÑON,1,1,PUBLICAR,M,EL PIÑÓN,COLOMBIA,COLOMBIA,N,...,0,0,0,0,1,1,0,0,0,0
2,0,CIENAGA,1,1,PUBLICAR,M,CIÉNAGA,COLOMBIA,COLOMBIA,N,...,0,1,0,0,1,1,0,0,0,0
3,0,SANTA MARTA,0,1,PUBLICAR,M,SANTA MARTA,COLOMBIA,COLOMBIA,N,...,0,0,0,1,0,0,0,0,0,0
4,0,SANTA MARTA,1,1,PUBLICAR,F,SANTA MARTA,COLOMBIA,COLOMBIA,N,...,0,0,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,SANTA MARTA,1,1,PUBLICAR,F,SANTA MARTA,COLOMBIA,COLOMBIA,N,...,0,0,1,0,1,1,0,0,0,0
73793,0,CIÉNAGA,0,1,PUBLICAR,M,CIÉNAGA,COLOMBIA,COLOMBIA,N,...,0,0,0,0,1,1,0,0,0,0
73794,0,SANTA MARTA,1,1,PUBLICAR,F,SANTA MARTA,COLOMBIA,COLOMBIA,N,...,0,0,0,0,1,1,0,0,0,0
73795,0,SANTA MARTA,1,0,PUBLICAR,M,SANTA MARTA,COLOMBIA,COLOMBIA,N,...,0,0,1,0,1,0,0,0,1,0
73796,0,SANTA MARTA,1,1,PUBLICAR,F,SANTA MARTA,COLOMBIA,COLOMBIA,N,...,0,0,0,0,1,1,0,0,0,0

variable estu_genero

In [69]:
df["estu_genero"].value_counts()

estu_genero
F    40333
M    33464
Name: count, dtype: int64

In [70]:
# Crear una variable dummy para 'estu_genero'
df['estu_genero_masculino'] = df['estu_genero'].apply(lambda x: 1 if x == 'M' else 0)

# Eliminar la columna 'estu_genero'
df = df.drop(columns=['estu_genero'])
# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_mcpio_ubicacion,cole_naturaleza_oficial,cole_sede_principal,estu_estadoinvestigacion,estu_mcpio_reside,estu_nacionalidad,estu_pais_reside,estu_privado_libertad,fami_estratovivienda,...,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MAÑANA,cole_jornada_NOCHE,cole_jornada_SABATINA,cole_jornada_TARDE,cole_jornada_UNICA,estu_genero_masculino
0,0,SANTA MARTA,1,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 3,...,1,0,0,1,1,0,0,0,0,1
1,0,EL PIÑON,1,1,PUBLICAR,EL PIÑÓN,COLOMBIA,COLOMBIA,N,Estrato 1,...,0,0,0,1,1,0,0,0,0,1
2,0,CIENAGA,1,1,PUBLICAR,CIÉNAGA,COLOMBIA,COLOMBIA,N,Estrato 1,...,1,0,0,1,1,0,0,0,0,1
3,0,SANTA MARTA,0,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 4,...,0,0,1,0,0,0,0,0,0,1
4,0,SANTA MARTA,1,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 2,...,0,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,SANTA MARTA,1,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 1,...,0,1,0,1,1,0,0,0,0,0
73793,0,CIÉNAGA,0,1,PUBLICAR,CIÉNAGA,COLOMBIA,COLOMBIA,N,Estrato 2,...,0,0,0,1,1,0,0,0,0,1
73794,0,SANTA MARTA,1,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 3,...,0,0,0,1,1,0,0,0,0,0
73795,0,SANTA MARTA,1,0,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 1,...,0,1,0,1,0,0,0,1,0,1
73796,0,SANTA MARTA,1,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 2,...,0,0,0,1,1,0,0,0,0,0

se borran las variables estu_mcpio_reside y cole_mcpio_ubicacion ya que no se consideran importqantes para el modelo a realizar

In [71]:
df['estu_mcpio_reside'].unique()

array(['SANTA MARTA', 'EL PIÑÓN', 'CIÉNAGA', 'EL BANCO', 'TENERIFE',
       'CONCORDIA', 'SANTA ANA', 'PIVIJAY', 'PEDRAZA', 'FUNDACIÓN',
       'ZONA BANANERA', 'SITIONUEVO', 'GUAMAL', 'PLATO', 'ALGARROBO',
       'PUEBLOVIEJO', 'ARACATACA', 'EL RETÉN',
       'SAN SEBASTIÁN DE BUENAVISTA', 'ARIGUANÍ', 'CHIVOLO', 'SALAMINA',
       'PIJIÑO DEL CARMEN', 'ZAPAYÁN', 'NUEVA GRANADA',
       'SANTA BÁRBARA DE PINTO', 'REMOLINO', 'CERRO DE SAN ANTONIO',
       'SABANAS DE SAN ÁNGEL', 'SAN ZENÓN', 'MOMPÓS', 'MARGARITA',
       'DIBULLA', 'BARRANQUILLA', 'CAMPO DE LA CRUZ', 'EL PEÑÓN',
       'EL ROSAL', 'TALAIGUA NUEVO', 'CHIRIGUANÁ', 'PINILLOS',
       'VALLEDUPAR', 'BOSCONIA', 'SINCELEJO', 'RIOHACHA', 'ZAMBRANO',
       'BOGOTÁ D.C.', 'SOLEDAD', 'CARTAGENA DE INDIAS', 'MAGANGUÉ',
       'MAICAO', 'ASTREA', 'BUCARAMANGA'], dtype=object)

In [72]:
df['cole_mcpio_ubicacion'].unique()

array(['SANTA MARTA', 'EL PIÑON', 'CIENAGA', 'EL BANCO', 'TENERIFE',
       'CONCORDIA', 'SANTA ANA', 'PIVIJAY', 'PEDRAZA', 'FUNDACION',
       'ZONA BANANERA', 'SITIONUEVO', 'GUAMAL', 'PLATO', 'ALGARROBO',
       'FUNDACIÓN', 'PUEBLOVIEJO', 'CIÉNAGA', 'ARACATACA', 'EL RETÉN',
       'SAN SEBASTIÁN DE BUENAVISTA', 'EL RETEN', 'EL PIÑÓN',
       'ARIGUANI (EL DIFICIL)', 'CHIVOLO', 'SALAMINA',
       'PIJIÑO DEL CARMEN', 'ZAPAYAN', 'NUEVA GRANADA',
       'SANTA BARBARA DE PINTO', 'REMOLINO', 'CERRO SAN ANTONIO',
       'SABANAS DE SAN ÁNGEL', 'SABANAS DE SAN ANGEL', 'ARIGUANÍ',
       'SAN ZENON', 'SANTA BÁRBARA DE PINTO',
       'SAN SEBASTIAN DE BUENAVISTA', 'CERRO DE SAN ANTONIO', 'ZAPAYÁN',
       'SAN ZENÓN'], dtype=object)

In [73]:
df

,cole_bilingue,cole_mcpio_ubicacion,cole_naturaleza_oficial,cole_sede_principal,estu_estadoinvestigacion,estu_mcpio_reside,estu_nacionalidad,estu_pais_reside,estu_privado_libertad,fami_estratovivienda,...,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MAÑANA,cole_jornada_NOCHE,cole_jornada_SABATINA,cole_jornada_TARDE,cole_jornada_UNICA,estu_genero_masculino
0,0,SANTA MARTA,1,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 3,...,1,0,0,1,1,0,0,0,0,1
1,0,EL PIÑON,1,1,PUBLICAR,EL PIÑÓN,COLOMBIA,COLOMBIA,N,Estrato 1,...,0,0,0,1,1,0,0,0,0,1
2,0,CIENAGA,1,1,PUBLICAR,CIÉNAGA,COLOMBIA,COLOMBIA,N,Estrato 1,...,1,0,0,1,1,0,0,0,0,1
3,0,SANTA MARTA,0,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 4,...,0,0,1,0,0,0,0,0,0,1
4,0,SANTA MARTA,1,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 2,...,0,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,SANTA MARTA,1,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 1,...,0,1,0,1,1,0,0,0,0,0
73793,0,CIÉNAGA,0,1,PUBLICAR,CIÉNAGA,COLOMBIA,COLOMBIA,N,Estrato 2,...,0,0,0,1,1,0,0,0,0,1
73794,0,SANTA MARTA,1,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 3,...,0,0,0,1,1,0,0,0,0,0
73795,0,SANTA MARTA,1,0,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 1,...,0,1,0,1,0,0,0,1,0,1
73796,0,SANTA MARTA,1,1,PUBLICAR,SANTA MARTA,COLOMBIA,COLOMBIA,N,Estrato 2,...,0,0,0,1,1,0,0,0,0,0

In [74]:
# Eliminar las columnas 'estu_mcpio_reside' y 'cole_mcpio_ubicacion'
df = df.drop(columns=['estu_mcpio_reside', 'cole_mcpio_ubicacion'])

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_naturaleza_oficial,cole_sede_principal,estu_estadoinvestigacion,estu_nacionalidad,estu_pais_reside,estu_privado_libertad,fami_estratovivienda,fami_personashogar,fami_tieneautomovil,...,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MAÑANA,cole_jornada_NOCHE,cole_jornada_SABATINA,cole_jornada_TARDE,cole_jornada_UNICA,estu_genero_masculino
0,0,1,1,PUBLICAR,COLOMBIA,COLOMBIA,N,Estrato 3,Cuatro,Si,...,1,0,0,1,1,0,0,0,0,1
1,0,1,1,PUBLICAR,COLOMBIA,COLOMBIA,N,Estrato 1,Cinco,No,...,0,0,0,1,1,0,0,0,0,1
2,0,1,1,PUBLICAR,COLOMBIA,COLOMBIA,N,Estrato 1,Cuatro,No,...,1,0,0,1,1,0,0,0,0,1
3,0,0,1,PUBLICAR,COLOMBIA,COLOMBIA,N,Estrato 4,5 a 6,Si,...,0,0,1,0,0,0,0,0,0,1
4,0,1,1,PUBLICAR,COLOMBIA,COLOMBIA,N,Estrato 2,3 a 4,No,...,0,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,1,1,PUBLICAR,COLOMBIA,COLOMBIA,N,Estrato 1,5 a 6,No,...,0,1,0,1,1,0,0,0,0,0
73793,0,0,1,PUBLICAR,COLOMBIA,COLOMBIA,N,Estrato 2,3 a 4,No,...,0,0,0,1,1,0,0,0,0,1
73794,0,1,1,PUBLICAR,COLOMBIA,COLOMBIA,N,Estrato 3,Cinco,No,...,0,0,0,1,1,0,0,0,0,0
73795,0,1,0,PUBLICAR,COLOMBIA,COLOMBIA,N,Estrato 1,Cinco,No,...,0,1,0,1,0,0,0,1,0,1
73796,0,1,1,PUBLICAR,COLOMBIA,COLOMBIA,N,Estrato 2,1 a 2,No,...,0,0,0,1,1,0,0,0,0,0

variable estu_estadoinvestigacion se elimina porque esta no se considera si es una variable decisiva en los resultados del examen

In [75]:
# Eliminar la columna estu_estadoinvestigacion
df = df.drop(columns=['estu_estadoinvestigacion'])

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_naturaleza_oficial,cole_sede_principal,estu_nacionalidad,estu_pais_reside,estu_privado_libertad,fami_estratovivienda,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,...,cole_caracter_TÉCNICO,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MAÑANA,cole_jornada_NOCHE,cole_jornada_SABATINA,cole_jornada_TARDE,cole_jornada_UNICA,estu_genero_masculino
0,0,1,1,COLOMBIA,COLOMBIA,N,Estrato 3,Cuatro,Si,Si,...,1,0,0,1,1,0,0,0,0,1
1,0,1,1,COLOMBIA,COLOMBIA,N,Estrato 1,Cinco,No,No,...,0,0,0,1,1,0,0,0,0,1
2,0,1,1,COLOMBIA,COLOMBIA,N,Estrato 1,Cuatro,No,No,...,1,0,0,1,1,0,0,0,0,1
3,0,0,1,COLOMBIA,COLOMBIA,N,Estrato 4,5 a 6,Si,Si,...,0,0,1,0,0,0,0,0,0,1
4,0,1,1,COLOMBIA,COLOMBIA,N,Estrato 2,3 a 4,No,No,...,0,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,1,1,COLOMBIA,COLOMBIA,N,Estrato 1,5 a 6,No,Si,...,0,1,0,1,1,0,0,0,0,0
73793,0,0,1,COLOMBIA,COLOMBIA,N,Estrato 2,3 a 4,No,Si,...,0,0,0,1,1,0,0,0,0,1
73794,0,1,1,COLOMBIA,COLOMBIA,N,Estrato 3,Cinco,No,Si,...,0,0,0,1,1,0,0,0,0,0
73795,0,1,0,COLOMBIA,COLOMBIA,N,Estrato 1,Cinco,No,No,...,0,1,0,1,0,0,0,1,0,1
73796,0,1,1,COLOMBIA,COLOMBIA,N,Estrato 2,1 a 2,No,Si,...,0,0,0,1,1,0,0,0,0,0

variable estu_nacionalidad y estu_pais_reside

In [76]:
df['estu_pais_reside'].unique()

array(['COLOMBIA', 'VENEZUELA', 'CUBA', 'ARUBA', 'PANAMÁ', 'ESPAÑA',
       'ARGENTINA', 'VANUATU', 'ITALIA', 'NORUEGA', 'COSTA RICA'],
      dtype=object)

In [77]:
df['estu_nacionalidad'].unique()

array(['COLOMBIA', 'VENEZUELA', 'CUBA', 'ARUBA', 'PANAMÁ', 'ESPAÑA',
       'ARGENTINA', 'VANUATU', 'ITALIA', 'NORUEGA', 'COSTA RICA'],
      dtype=object)

In [78]:
# Crear la nueva variable 'pais_nacionalidad_igual' basada en la comparación
df['pais_nacionalidad_reside'] = df.apply(lambda row: 1 if row['estu_pais_reside'] == row['estu_nacionalidad'] else 0, axis=1)

# Eliminar las columnas estu_nacionalidad y estu_pais_reside
df = df.drop(columns=['estu_nacionalidad', "estu_pais_reside"])

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_naturaleza_oficial,cole_sede_principal,estu_privado_libertad,fami_estratovivienda,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,desemp_ingles,...,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MAÑANA,cole_jornada_NOCHE,cole_jornada_SABATINA,cole_jornada_TARDE,cole_jornada_UNICA,estu_genero_masculino,pais_nacionalidad_reside
0,0,1,1,N,Estrato 3,Cuatro,Si,Si,Si,A1,...,0,0,1,1,0,0,0,0,1,1
1,0,1,1,N,Estrato 1,Cinco,No,No,No,A1,...,0,0,1,1,0,0,0,0,1,1
2,0,1,1,N,Estrato 1,Cuatro,No,No,No,A-,...,0,0,1,1,0,0,0,0,1,1
3,0,0,1,N,Estrato 4,5 a 6,Si,Si,Si,B1,...,0,1,0,0,0,0,0,0,1,1
4,0,1,1,N,Estrato 2,3 a 4,No,No,No,A-,...,1,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,1,1,N,Estrato 1,5 a 6,No,Si,Si,A-,...,1,0,1,1,0,0,0,0,0,1
73793,0,0,1,N,Estrato 2,3 a 4,No,Si,No,A-,...,0,0,1,1,0,0,0,0,1,1
73794,0,1,1,N,Estrato 3,Cinco,No,Si,No,A-,...,0,0,1,1,0,0,0,0,0,1
73795,0,1,0,N,Estrato 1,Cinco,No,No,No,A-,...,1,0,1,0,0,0,1,0,1,1
73796,0,1,1,N,Estrato 2,1 a 2,No,Si,Si,A-,...,0,0,1,1,0,0,0,0,0,1

variable estu_privado_libertad

In [79]:
# Convertir la columna 'estu_privado_libertad' en binaria
df['estu_privado_libertad'] = df['estu_privado_libertad'].apply(lambda x: 1 if x == 'S' else 0)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_naturaleza_oficial,cole_sede_principal,estu_privado_libertad,fami_estratovivienda,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,desemp_ingles,...,cole_caracter_TÉCNICO/ACADÉMICO,cole_genero_MASCULINO,cole_genero_MIXTO,cole_jornada_MAÑANA,cole_jornada_NOCHE,cole_jornada_SABATINA,cole_jornada_TARDE,cole_jornada_UNICA,estu_genero_masculino,pais_nacionalidad_reside
0,0,1,1,0,Estrato 3,Cuatro,Si,Si,Si,A1,...,0,0,1,1,0,0,0,0,1,1
1,0,1,1,0,Estrato 1,Cinco,No,No,No,A1,...,0,0,1,1,0,0,0,0,1,1
2,0,1,1,0,Estrato 1,Cuatro,No,No,No,A-,...,0,0,1,1,0,0,0,0,1,1
3,0,0,1,0,Estrato 4,5 a 6,Si,Si,Si,B1,...,0,1,0,0,0,0,0,0,1,1
4,0,1,1,0,Estrato 2,3 a 4,No,No,No,A-,...,1,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,1,1,0,Estrato 1,5 a 6,No,Si,Si,A-,...,1,0,1,1,0,0,0,0,0,1
73793,0,0,1,0,Estrato 2,3 a 4,No,Si,No,A-,...,0,0,1,1,0,0,0,0,1,1
73794,0,1,1,0,Estrato 3,Cinco,No,Si,No,A-,...,0,0,1,1,0,0,0,0,0,1
73795,0,1,0,0,Estrato 1,Cinco,No,No,No,A-,...,1,0,1,0,0,0,1,0,1,1
73796,0,1,1,0,Estrato 2,1 a 2,No,Si,Si,A-,...,0,0,1,1,0,0,0,0,0,1

variable fami_estratovivienda

In [80]:
df['fami_estratovivienda'].unique()

array(['Estrato 3', 'Estrato 1', 'Estrato 4', 'Estrato 2', 'Sin Estrato',
       'Estrato 5', 'Estrato 6'], dtype=object)

In [81]:
# Convertir la columna 'fami_estratovivienda' en variables dummy
df = pd.get_dummies(df, columns=['fami_estratovivienda'], drop_first=True)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_naturaleza_oficial,cole_sede_principal,estu_privado_libertad,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,desemp_ingles,punt_ingles,...,cole_jornada_TARDE,cole_jornada_UNICA,estu_genero_masculino,pais_nacionalidad_reside,fami_estratovivienda_Estrato 2,fami_estratovivienda_Estrato 3,fami_estratovivienda_Estrato 4,fami_estratovivienda_Estrato 5,fami_estratovivienda_Estrato 6,fami_estratovivienda_Sin Estrato
0,0,1,1,0,Cuatro,Si,Si,Si,A1,51.0,...,0,0,1,1,False,True,False,False,False,False
1,0,1,1,0,Cinco,No,No,No,A1,54.0,...,0,0,1,1,False,False,False,False,False,False
2,0,1,1,0,Cuatro,No,No,No,A-,39.0,...,0,0,1,1,False,False,False,False,False,False
3,0,0,1,0,5 a 6,Si,Si,Si,B1,73.0,...,0,0,1,1,False,False,True,False,False,False
4,0,1,1,0,3 a 4,No,No,No,A-,35.0,...,0,0,0,1,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,1,1,0,5 a 6,No,Si,Si,A-,42.0,...,0,0,0,1,False,False,False,False,False,False
73793,0,0,1,0,3 a 4,No,Si,No,A-,38.0,...,0,0,1,1,True,False,False,False,False,False
73794,0,1,1,0,Cinco,No,Si,No,A-,41.0,...,0,0,0,1,False,True,False,False,False,False
73795,0,1,0,0,Cinco,No,No,No,A-,45.0,...,1,0,1,1,False,False,False,False,False,False
73796,0,1,1,0,1 a 2,No,Si,Si,A-,44.0,...,0,0,0,1,True,False,False,False,False,False

variable fami_personashogar

In [82]:
df['fami_personashogar'].unique()

array(['Cuatro', 'Cinco', '5 a 6', '3 a 4', 'Siete', 'Nueve', '7 a 8',
       'Una', 'Seis', '9 o más', 'Tres', 'Diez', 'Dos', '1 a 2',
       'Doce o más', 'Ocho', 'Once'], dtype=object)

In [83]:
# Definir el mapeo de valores categóricos a numéricos
mapeo_personas_hogar = {
    'Una': 1,
    'Dos': 2,
    'Tres': 3,
    'Cuatro': 4,
    'Cinco': 5,
    'Seis': 6,
    'Siete': 7,
    'Ocho': 8,
    'Nueve': 9,
    'Diez': 10,
    'Once': 11,
    'Doce o más': 12,
    '1 a 2': 1.5,   # Promedio del rango
    '3 a 4': 3.5,   # Promedio del rango
    '5 a 6': 5.5,   # Promedio del rango
    '7 a 8': 7.5,   # Promedio del rango
    '9 o más': 9.5  # Promedio del rango
}

# Aplicar el mapeo a la columna
df['fami_personashogar'] = df['fami_personashogar'].map(mapeo_personas_hogar)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_naturaleza_oficial,cole_sede_principal,estu_privado_libertad,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,desemp_ingles,punt_ingles,...,cole_jornada_TARDE,cole_jornada_UNICA,estu_genero_masculino,pais_nacionalidad_reside,fami_estratovivienda_Estrato 2,fami_estratovivienda_Estrato 3,fami_estratovivienda_Estrato 4,fami_estratovivienda_Estrato 5,fami_estratovivienda_Estrato 6,fami_estratovivienda_Sin Estrato
0,0,1,1,0,4.0,Si,Si,Si,A1,51.0,...,0,0,1,1,False,True,False,False,False,False
1,0,1,1,0,5.0,No,No,No,A1,54.0,...,0,0,1,1,False,False,False,False,False,False
2,0,1,1,0,4.0,No,No,No,A-,39.0,...,0,0,1,1,False,False,False,False,False,False
3,0,0,1,0,5.5,Si,Si,Si,B1,73.0,...,0,0,1,1,False,False,True,False,False,False
4,0,1,1,0,3.5,No,No,No,A-,35.0,...,0,0,0,1,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,1,1,0,5.5,No,Si,Si,A-,42.0,...,0,0,0,1,False,False,False,False,False,False
73793,0,0,1,0,3.5,No,Si,No,A-,38.0,...,0,0,1,1,True,False,False,False,False,False
73794,0,1,1,0,5.0,No,Si,No,A-,41.0,...,0,0,0,1,False,True,False,False,False,False
73795,0,1,0,0,5.0,No,No,No,A-,45.0,...,1,0,1,1,False,False,False,False,False,False
73796,0,1,1,0,1.5,No,Si,Si,A-,44.0,...,0,0,0,1,True,False,False,False,False,False

variable fami_tieneautomovil, fami_tienecomputador y fami_tieneinternet

In [84]:
# Listar las columnas que deseas convertir
columnas_a_convertir = ['fami_tieneautomovil', 'fami_tienecomputador', 'fami_tieneinternet']

# Convertir los valores 'Sí' a 1 y 'No' a 0
df[columnas_a_convertir] = df[columnas_a_convertir].applymap(lambda x: 1 if x == 'Si' else 0)

# Mostrar las primeras filas del DataFrame actualizado
df

C:\Users\Jeronimo Vargas\AppData\Local\Temp\ipykernel_32984\3207440573.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[columnas_a_convertir] = df[columnas_a_convertir].applymap(lambda x: 1 if x == 'Si' else 0)

,cole_bilingue,cole_naturaleza_oficial,cole_sede_principal,estu_privado_libertad,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,desemp_ingles,punt_ingles,...,cole_jornada_TARDE,cole_jornada_UNICA,estu_genero_masculino,pais_nacionalidad_reside,fami_estratovivienda_Estrato 2,fami_estratovivienda_Estrato 3,fami_estratovivienda_Estrato 4,fami_estratovivienda_Estrato 5,fami_estratovivienda_Estrato 6,fami_estratovivienda_Sin Estrato
0,0,1,1,0,4.0,1,1,1,A1,51.0,...,0,0,1,1,False,True,False,False,False,False
1,0,1,1,0,5.0,0,0,0,A1,54.0,...,0,0,1,1,False,False,False,False,False,False
2,0,1,1,0,4.0,0,0,0,A-,39.0,...,0,0,1,1,False,False,False,False,False,False
3,0,0,1,0,5.5,1,1,1,B1,73.0,...,0,0,1,1,False,False,True,False,False,False
4,0,1,1,0,3.5,0,0,0,A-,35.0,...,0,0,0,1,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,1,1,0,5.5,0,1,1,A-,42.0,...,0,0,0,1,False,False,False,False,False,False
73793,0,0,1,0,3.5,0,1,0,A-,38.0,...,0,0,1,1,True,False,False,False,False,False
73794,0,1,1,0,5.0,0,1,0,A-,41.0,...,0,0,0,1,False,True,False,False,False,False
73795,0,1,0,0,5.0,0,0,0,A-,45.0,...,1,0,1,1,False,False,False,False,False,False
73796,0,1,1,0,1.5,0,1,1,A-,44.0,...,0,0,0,1,True,False,False,False,False,False

variable desemp_ingles

In [85]:
df['desemp_ingles'].unique()

array(['A1', 'A-', 'B1', 'A2', 'B+'], dtype=object)

In [86]:
# Convertir la columna 'desemp_ingles' en variables dummy
df = pd.get_dummies(df, columns=['desemp_ingles'], drop_first=False)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_naturaleza_oficial,cole_sede_principal,estu_privado_libertad,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,punt_ingles,punt_matematicas,...,fami_estratovivienda_Estrato 3,fami_estratovivienda_Estrato 4,fami_estratovivienda_Estrato 5,fami_estratovivienda_Estrato 6,fami_estratovivienda_Sin Estrato,desemp_ingles_A-,desemp_ingles_A1,desemp_ingles_A2,desemp_ingles_B+,desemp_ingles_B1
0,0,1,1,0,4.0,1,1,1,51.0,45.0,...,True,False,False,False,False,False,True,False,False,False
1,0,1,1,0,5.0,0,0,0,54.0,62.0,...,False,False,False,False,False,False,True,False,False,False
2,0,1,1,0,4.0,0,0,0,39.0,51.0,...,False,False,False,False,False,True,False,False,False,False
3,0,0,1,0,5.5,1,1,1,73.0,74.0,...,False,True,False,False,False,False,False,False,False,True
4,0,1,1,0,3.5,0,0,0,35.0,24.0,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,1,1,0,5.5,0,1,1,42.0,48.0,...,False,False,False,False,False,True,False,False,False,False
73793,0,0,1,0,3.5,0,1,0,38.0,30.0,...,False,False,False,False,False,True,False,False,False,False
73794,0,1,1,0,5.0,0,1,0,41.0,58.0,...,True,False,False,False,False,True,False,False,False,False
73795,0,1,0,0,5.0,0,0,0,45.0,59.0,...,False,False,False,False,False,True,False,False,False,False
73796,0,1,1,0,1.5,0,1,1,44.0,51.0,...,False,False,False,False,False,True,False,False,False,False

In [87]:
# Seleccionar las columnas que deseas convertir
columnas_a_convertir = [
    'fami_estratovivienda_Estrato 3',
    'fami_estratovivienda_Estrato 4',
    'fami_estratovivienda_Estrato 5',
    'fami_estratovivienda_Estrato 6',
    'fami_estratovivienda_Sin Estrato',
    "fami_estratovivienda_Estrato 2",
    "desemp_ingles_A-",
    "desemp_ingles_A1",
    "desemp_ingles_A2",
    "desemp_ingles_B+",
    "desemp_ingles_B1"

]

# Convertir los valores de True/False a 1/0
df[columnas_a_convertir] = df[columnas_a_convertir].astype(int)

# Mostrar las primeras filas del DataFrame actualizado
df

,cole_bilingue,cole_naturaleza_oficial,cole_sede_principal,estu_privado_libertad,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,punt_ingles,punt_matematicas,...,fami_estratovivienda_Estrato 3,fami_estratovivienda_Estrato 4,fami_estratovivienda_Estrato 5,fami_estratovivienda_Estrato 6,fami_estratovivienda_Sin Estrato,desemp_ingles_A-,desemp_ingles_A1,desemp_ingles_A2,desemp_ingles_B+,desemp_ingles_B1
0,0,1,1,0,4.0,1,1,1,51.0,45.0,...,1,0,0,0,0,0,1,0,0,0
1,0,1,1,0,5.0,0,0,0,54.0,62.0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,1,0,4.0,0,0,0,39.0,51.0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,1,0,5.5,1,1,1,73.0,74.0,...,0,1,0,0,0,0,0,0,0,1
4,0,1,1,0,3.5,0,0,0,35.0,24.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,1,1,0,5.5,0,1,1,42.0,48.0,...,0,0,0,0,0,1,0,0,0,0
73793,0,0,1,0,3.5,0,1,0,38.0,30.0,...,0,0,0,0,0,1,0,0,0,0
73794,0,1,1,0,5.0,0,1,0,41.0,58.0,...,1,0,0,0,0,1,0,0,0,0
73795,0,1,0,0,5.0,0,0,0,45.0,59.0,...,0,0,0,0,0,1,0,0,0,0
73796,0,1,1,0,1.5,0,1,1,44.0,51.0,...,0,0,0,0,0,1,0,0,0,0

guardar el nuevo DF

In [88]:
# Opcional: Guardar el DataFrame actualizado en un nuevo archivo CSV
df.to_csv("DF_FINAL.csv", index=False)
df

,cole_bilingue,cole_naturaleza_oficial,cole_sede_principal,estu_privado_libertad,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,punt_ingles,punt_matematicas,...,fami_estratovivienda_Estrato 3,fami_estratovivienda_Estrato 4,fami_estratovivienda_Estrato 5,fami_estratovivienda_Estrato 6,fami_estratovivienda_Sin Estrato,desemp_ingles_A-,desemp_ingles_A1,desemp_ingles_A2,desemp_ingles_B+,desemp_ingles_B1
0,0,1,1,0,4.0,1,1,1,51.0,45.0,...,1,0,0,0,0,0,1,0,0,0
1,0,1,1,0,5.0,0,0,0,54.0,62.0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,1,0,4.0,0,0,0,39.0,51.0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,1,0,5.5,1,1,1,73.0,74.0,...,0,1,0,0,0,0,0,0,0,1
4,0,1,1,0,3.5,0,0,0,35.0,24.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73792,0,1,1,0,5.5,0,1,1,42.0,48.0,...,0,0,0,0,0,1,0,0,0,0
73793,0,0,1,0,3.5,0,1,0,38.0,30.0,...,0,0,0,0,0,1,0,0,0,0
73794,0,1,1,0,5.0,0,1,0,41.0,58.0,...,1,0,0,0,0,1,0,0,0,0
73795,0,1,0,0,5.0,0,0,0,45.0,59.0,...,0,0,0,0,0,1,0,0,0,0
73796,0,1,1,0,1.5,0,1,1,44.0,51.0,...,0,0,0,0,0,1,0,0,0,0